<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Hey, source code investigator!
  This website is created by
        _  ______  ______   _    _        _    _
       | ||  ____||  __  \ | |  | |  /\  | \  | |  /\
       | || |__   | |  |  || |__| | /  \ |  \ | | /  \
   _   | ||  __|  | |  |  ||  __  |/ /\ \|   \| |/ /\ \
  | \__| || |____ | |__|  || |  | / ____ \ |\   / ____ \
  |______||______||______/ |_|  |/_/    \_\| \_/_/    \_\

   Cheers, hope you enjoy !-->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>

    <!-- WHEN PLACED HERE TYPED.JS WORKS -->
     <!-- <%= javascript_include_tag "application" %> -->
    <%= favicon_tag 'images/jdlogo.png' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>
  <body>

    <%= yield %>

    <!-- WHEN PLACED HERE TYPED.JS DOESNT WORK (but slide up content does) -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
